---
extends: relaxed

ignore: |
  docs/
  .git/

rules:
  # Ansible variable blocks and package lists run long by nature.
  line-length: disable
  comments-indentation: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
