#### Contents of the preconfiguration file (for bookworm)
### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string viper
d-i netcfg/get_domain string viper.test

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Vagrant User
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i user-setup/allow-password-weak boolean true

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo openssh-server build-essential
d-i pkgsel/upgrade select full-upgrade

# Don't participate in package usage survey
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

### Finishing up
d-i finish-install/reboot_in_progress note

### Configure vagrant user
d-i preseed/late_command string \
    in-target sh -c 'mkdir -p /home/vagrant/.ssh'; \
    in-target sh -c 'wget -O /home/vagrant/.ssh/authorized_keys https://raw.githubusercontent.com/hashicorp/vagrant/master/keys/vagrant.pub'; \
    in-target sh -c 'chown -R vagrant:vagrant /home/vagrant/.ssh'; \
    in-target sh -c 'chmod 700 /home/vagrant/.ssh'; \
    in-target sh -c 'chmod 600 /home/vagrant/.ssh/authorized_keys'; \
    in-target sh -c 'echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant'; \
    in-target sh -c 'chmod 440 /etc/sudoers.d/vagrant'
