127.0.0.1 localhost.localdomain localhost
{{ viper.setup.ip.v4 }} {{ viper.setup.fqdn }} {{ viper.setup.hostname }}
{% if viper.setup.ip.v6 is defined and viper.setup.ip.v6 != "" %}
{{ viper_env_ip_v6 }} {{ viper.setup.fqdn }} {{ viper.setup.hostname }}
{% endif %}
